{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center logo my-4">
    <a href="{% url 'posts_list' %}">Twitter</a>
</h1>
<div class="alert alert-success" role="alert">
  <strong>Success!</strong>Your password has been changed!
</div>
  <button type="submit" class="btn btn-primary"><a href="{% url 'posts_list' %}">Return to home page</a></button>
</div>
{% endblock %}