{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center logo my-4" style="color: white; margin-left: 340px;">
    <a href="{% url 'posts_list' %}" style="color: white;">Twitter</a>
</h1>
<div class="alert alert-success" role="alert" id="success" style="margin-left: 220px; width: 100%;">
  <strong>Success!</strong><center>Your password has been changed!</center>
  </div>
  
  <button type="submit" class="btn btn-primary" style="margin-left: 320px;"><a href="{% url 'posts_list' %}" style="color: white;">Return to home page</a></button>

{% endblock %}