body {
    background-image: url(../img/vintage-wallpaper.png);
}


.container a{
    color: white;
}

.container {
    margin-right: 550px;
    width: 800px;
    text-align: center;
}

.container form {
    margin: 20px;
}

.container_done {
    margin-left: 100px;
}