{% extends 'blog/base_blog.html' %}
{% load static %}


{% block title %}
Deleting
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/deletetwit.css' %}">
{% endblock %}

{% block content %}
    <div class="delete-block">
        <form method="POST" class="post-form">
            {% csrf_token %}
            <h4>Are you sure you want to delete "{{ comment.message }}"?</h4>
            <a href="{% url 'posts_list' %}" id='yes'><button type='submit' class='btn btn-danger'>Yes</button></a>
        </form>
        <a href="{{ post.get_absolute_url }}" id='no'><button class="btn btn-primary" type="button">No</button></a>
    </div>
{% endblock %}