{% extends 'blog/base_blog.html' %}
{% load static %}



{% block stylesheet %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
#comment-count {
    color: white;
    margin-left:10px ;
}
.delete-href {
    margin-left: 340px;
}
#post-ava {
    margin-right: 40px;
    border-radius: 40px;
}
</style>
{% endblock %}

{% block title %}
{{ post.title }} - {{ post.created_by }}
{% endblock %}


{% block content %}
<!-- Twit -->
<div class="card mb-5" style="border-radius: 20px;">
    <div class="card-header">
        <div class="post-heading">
            <div class="float-left image">
                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image" id='post-ava'>
            </div>
            <div class="float-left meta">
                <div class="title h5">
                    <a href="#"><b>{{post.created_by}}</b></a>
                    made a post.
                </div>
                <h6 class="text-muted time">{{post.date_pub}}</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}"|default_if_none:"#" style="max-height: 300px; max-width: 500px;">
        {% endif %}
    </div>
</div>

<!-- Comments  -->
<div class="mb-5" id="comment-count">
    <h1>Comments: {{ ccc.count }}</h1>
</div>
{% for comment in comments %}
<div class="container mb-5">
    <div class="row">
        <div class="col-10">
            <div class="card card-white post" style="border-radius: 40px;">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image" style="border-radius: 40px; margin-right: 30px;">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ comment.author }}</b></a>
                        </div>
                        <h6 class="text-muted time">{{ comment.sent_at }}</h6>
                        <!-- <h3>asfasdfplsdjfksdjf</h3> -->
                    </div>
                </div> 
                <div class="post-description" style="margin-left: 10px;"> 
                    <p>{{comment.message}}</p>
                    {% if user == comment.author%}
                    <a href="{% url 'comment_delete' pk=comment.id%}" class="delete-href">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Paginations -->
{% if comments.has_other_pages %}
<div class="comment-nav" style="margin-left: 100px;">
<nav aria-label="Page navigation example" class='pagination-nav'>
    <ul class="pagination">
        {% if comments.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
      </li>
      {% endif %}
      {% for i in comments.paginator.page_range %}
      {% if comments.number == i %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% elif i >  comments.number|add:-2 and i < comments.number|add:2 %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if comments.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ comments.next_page_number }}">Next</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
  {% endif %}

<!-- Comment form  -->
<div class="col-md-10 card mb-4  mt-3 ">
    <div class="card-body">
      <h5>Leave a comment</h5>
      <form method="post" style="margin-top: 1.3em;">
        {{ form_comment.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
      </form>
    </div>
{% endblock %}

