{% extends 'blog/base_blog.html' %}
{% load static %}



{% block stylesheet %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
{{ post.title }} - {{ post.created_by }}
{% endblock %}


{% block content %}

<div class="card mb-5">
    <div class="card-header">
        <div class="post-heading">
            <div class="float-left image">
                <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="float-left meta">
                <div class="title h5">
                    <a href="#"><b>{{post.created_by}}</b></a>
                    made a post.
                </div>
                <h6 class="text-muted time">{{post.date_pub}}</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}"|default_if_none:"#">
        {% endif %}
    </div>
</div>
<div class="mb-5" id="comment-count">
    <h1>Comments: {{ comments.count }}</h1>
</div>
{% for comment in comments %}
<div class="container mb-5">
    <div class="row">
        <div class="col-10">
            <div class="card card-white post">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ comment.author }}</b></a>
                        </div>
                        <h6 class="text-muted time">{{ comment.sent_at }}</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{comment.message}}</p>
                    <a href="{% url 'comment_delete' pk=comment.id%}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="col-md-10 card mb-4  mt-3 ">
    <div class="card-body">
      <h5>Leave a comment</h5>
      <form method="post" style="margin-top: 1.3em;">
        {{ form_comment.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
      </form>
    </div>
{% endblock %}

